/******************Navigation Panel******************/
nav{
    background-color:rgba(20,20,20,80%);
    color:white;
    height:10%;
    width:100%;
    padding: 0;
    margin: 0;
}
.siteIcon{
    width:5%;
    height:90%;
    display:inline;
    vertical-align: middle;
    margin:0.5%;
}
.siteName{
    margin:0.5%;
    padding:0px;
    text-align: left;
    width:48%;
    vertical-align: middle;
    font-size:28px;
    font-weight: bold;
    font-style: italic;
}
.siteName,ul{
    display:inline-block;
}
nav ul{
    width:43%;
    margin:0;
    align-items: right;
    padding-inline-start:0;
}
nav ul li{
    display:inline;
    margin-bottom: 0px;
}
nav ul li .navPage{
    color:white;
    text-decoration: none;
    padding:10px;
    text-align:right;
    vertical-align: middle;
    font-size:18px;
    margin-bottom: 0px;
    font-weight: bold;
}
.navSitePages{
    text-align: center;
    margin-bottom: 0px;
}
::placeholder{
    color:#00a3f0;
}
#searchField{
    border-radius:10px;
    height:25px;
    width:250px;
    padding:0;
    margin:0;
}
#searchBtn,#resetBtn{
    border-radius:10px;
    height:25px;
    background-color:#00a3f0;
    color:white;
    margin-bottom: 0px;
}


/******************Main******************/
body, html {
    height: 97%;
    margin: 0px;
    padding: 0px;
  }
.container{
    margin:0;
    padding:0;
    background-image:url('images/NomadTravels_Background.jpg');
    height:100%;
    background-size: cover;
    position:relative;
    top:-40px;
}
.homePagetitle,.homePagePar,.bookNowBtn{
    position:relative;
    left:115px;
    top:120px;
}
.homePagetitle{
    width:200px;
    font-size:55px;
    font-family: serif;
}
.homePagePar{
    width:300px;
    font-size:14px;
    font-family: serif;
}
.bookNowBtn{
    background-color:rgba(20,20,20,50%);
    border-radius:10px;
    font-size:20px;
    padding:5px;
    color:white;
}
.socialMediaPlatforms{
    position: fixed;
    bottom:-10px;
    left:-10px;
}
div ul{
    list-style-type: none;
}
.socMIcon{
    width:35px;
    height:35px;
    margin-bottom:20px;
}